.app-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh; /* Adjust as needed */
}

.centered-div > * {
    text-align: center;
}

.app-title {
    font-size: 10vw;
}

.obj-model {
    width: auto;
    height: 100vh;
    margin-top: -2vw;
}

@media (max-width: 1000px) {
    .obj-model {
        height: 100vh;
        margin-top: -10vh;
    }
}

@media (max-width: 600px) {
    .obj-model {
        height: 100vh;
        margin-top: -17vh;
    }
}