@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: belgiano;
    src: url(font/belgiano.otf);
  }

h1, h2, h3, h4, h5, h6, .rotated-text {
    font-family: 'Inter', sans-serif !important;
    color: white;
}


p {
    color: rgb(173, 173, 173);
}

a {
    color: rgb(0, 134, 217);
    font-weight: 500;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

.video-h3 {
    font-family: 'Inter', sans-serif !important;
    font-weight: 600;
}

.nav-link {
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
}

.nav-link {
    font-size: 25px;
    color: #c1c1c1 !important;
    transition: 0.9s cubic-bezier(0.5, 0.71, 0, 1);
}
.nav-link:hover
 {
    text-shadow: #ffffff 0px 0px 30px;
 }

 .contact {
    color: #fd0001 !important;
 }

.phrase {
    font-size: 200px;
    font-family: 'inter', sans-serif !important;
    font-weight: 900;
}

@media screen and (max-width: 1068px) {
    .phrase {
        font-size: 100px;
        font-family: 'inter', sans-serif !important;
    }
}

p {
    font-family: 'inter', sans-serif !important;
}

.slide-navbar li a {
    font-family: 'inter', sans-serif !important;
    font-weight: 600;
}

.contactme {
    text-decoration: none !important;
    color: black !important;
}
.contactme:hover {
    text-decoration: none !important;
    color: #fd0001 !important;
}

.about-headline {
    font-size: 8vw;
    text-align: right;
}

@media screen and (max-width: 1068px) {
    .about-headline {
        font-size: 15vw;
        text-align: right;
    }
}

.rotated-text {
    left: 6px;
    top: 120px;
    position: absolute;
    transform: rotate(270deg);
    text-transform: uppercase;
}

.about-p {
    
}

.about-body {
    padding-left: 100px;
    position: relative;
}

.page-heading {

}